{% extends 'base.html' %} {% load static %} {% block page_title %} QTSC - Wolverhampton {% endblock %} {% block content %}

<div class="home-bg">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="mb-5">Queens Square Tattoo Club</h1>
            <a class="map-link" href="https://www.google.com/maps/dir/Current+Location/6+Hampton+Walk,+Queen_Square,+Wolverhampton+WV1+1TQ" target="_blank">
                <i class="fas fa-map-marked-alt"></i>
                <p>
                    6 Hampton Walk, Queens Square</br> WV1 1TQ Wolverhamptonn</p>
            </a>
        </div>
    </div>
</div>



{% endblock %}