

/* Background */

.bg {
    background-color: black;
    color: #f4f4f4;
    height: 100%;
}


/* NavBar */

.nav-bg {
    background-color: #2d2b0e;
}

.nav-bg a {
    color: #f4f4f4;
}

.nav-button {
    color: #f4f4f4;
}

.navbar-toggler {
    outline: none;
}


/* Shop */

.form-box {
    padding: 5px;
}

.add-links {
    color: forestgreen;
    text-decoration: none;
    float: right;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.stock-line-item {
    font-size: 22px;
    padding: 12px;
}

.stock-line-item a {
    color: forestgreen;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.stock-line-buttons {
    padding-top: 24px;
    display: inline-flex;
}

.stock-line {
    border-bottom-style: ridge;
    border-color: #f4f4f4;
}

.delete-btn {
    padding: 0 13px;
    color:#973030;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.delete-btn:hover {
    color:#d42626;
}

.test {
    display: flex;
}

/* Stock */

.list-padding {
    padding: 6px;
}

.report-list {
    list-style-type: none;
}

.report-links {
    font-size: 1.5rem;
    padding: 3px;
}

.report-links a,
.report-list a {
    color: forestgreen;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.report-links a:hover,
.report-list a:hover,
.stock-line-item a:hover,
.add-links:hover {
    color: rgba(146, 240, 146, 0.867);
    text-decoration: none;
}


/* Breaks */

.bar-thin {
    background-color: #faf5ff;
    height: 2.5px;
    width: 350px;
    border-radius: 7px 7px 7px 7px;
    border: 1px;
    padding: 1px;
}   