

/* Background */

.bg {
    background-color: black;
    color: #f4f4f4;
    height: 100vh;
}


/* NavBar */

.nav-bg {
    background-color: #2d2b0e;
}

.nav-bg a {
    color: #f4f4f4;
}

.nav-button {
    color: #f4f4f4;
}

.navbar-toggler {
    outline: none;
}


/* Shop */

.form-box {
    padding: 5px;
}


/* Breaks */

.bar-thin {
    background-color: #faf5ff;
    height: 2.5px;
    width: 350px;
    border-radius: 7px 7px 7px 7px;
    border: 1px;
}   