{% extends 'base.html' %} {% load static %} {% block page_title %} QSTC - Store {% endblock %}

{% block content %}

<div class="row">
    <div class="col-12">
        <div class="h1 text-center">Store</div>
    </div>
</div>

<h2>Needles</h2>
<hr class="bar-thin">

<br>
<div class="row">
    <div class="col-6">
        <h3>Rounds:</h3>
    </div>
    <div class="col-6">
        <a href="{% url 'add_round' %}" class="add-links">
            <span>Add Round</span>
            <i class="fas fa-plus-circle fa-lg"></i>
        </a>
    </div>
    <br>
    <br>
</div>
{% for r in rounds %}
<div class="row stock-line">
    <div class="col-4">
        <p class="stock-line-item">Name: {{ r.name }}</p>
    </div>
    <div class="col-4">
        <p class="stock-line-item">Stock: {{ r.stock }} <a href="{% url 'plus_round' r.id %}"><span><i class="fas fa-plus"></i></span></a><a href="{% url 'minus_round' r.id %}"> <span><i class="fas fa-minus"></i></span></a></p>
    </div>
    <div class="col-4">
        <div class="stock-line-buttons">
            <a href="{% url 'edit_round' r.id %}" class="add-links">
                <span>Edit Stock</span>
                <i class="far fa-edit"></i>
            </a>
            <br>
            <form class="" method="post" action="{% url 'delete_round' r.id %}">
                {% csrf_token %}
                <button class="btn delete-btn" type="submit"><i class="fas fa-dumpster-fire"></i></button>
            </form>
        </div>
    </div>
</div>
<br>
{% endfor %}
<br>
<hr class="bar-thin">
<br>

<div class="row">
    <div class="col-6">
        <h3>Shaders:</h3>
    </div>
    <div class="col-6">
        <a href="{% url 'add_shader' %}" class="add-links">
            <span>Add Shader</span>
            <i class="fas fa-plus-circle fa-lg"></i>
        </a>
    </div>
    <br>
    <br>
</div>
{% for s in shaders %}
<div class="row stock-line">
    <div class="col-4">
        <p class="stock-line-item">Name: {{ s.name }}</p>
    </div>
    <div class="col-4">
        <p class="stock-line-item">Stock: {{ s.stock }}</p>
    </div>
    <div class="col-4">
        <div class="stock-line-buttons">
            <a href="{% url 'edit_shader' s.id %}" class="add-links">
                <span>Edit Stock</span>
                <i class="far fa-edit"></i>
            </a>
            <br>
            <form class="" method="post" action="{% url 'delete_shader' s.id %}">
                {% csrf_token %}
                <button class="btn delete-btn" type="submit"><i class="fas fa-dumpster-fire"></i></button>
            </form>
        </div>
    </div>
</div>
<br>
{% endfor %}
<br>
<hr class="bar-thin">
<br>

<div class="row">
    <div class="col-6">
        <h3>Mags:</h3>
    </div>
    <div class="col-6">
        <a href="{% url 'add_mag' %}" class="add-links">
            <span>Add Mag</span>
            <i class="fas fa-plus-circle fa-lg"></i>
        </a>
    </div>
    <br>
    <br>
</div>
{% for m in mags %}
<div class="row stock-line">
    <div class="col-4">
        <p class="stock-line-item">Name: {{ m.name }}</p>
    </div>
    <div class="col-4">
        <p class="stock-line-item">Stock: {{ m.stock }}</p>
    </div>
    <div class="col-4">
        <div class="stock-line-buttons">
            <a href="{% url 'edit_mag' m.id %}" class="add-links">
                <span>Edit Stock</span>
                <i class="far fa-edit"></i>
            </a>
            <br>
            <form class="" method="post" action="{% url 'delete_mag' m.id %}">
                {% csrf_token %}
                <button class="btn delete-btn" type="submit"><i class="fas fa-dumpster-fire"></i></button>
            </form>
        </div>
    </div>
</div>
<br>
{% endfor %}
<br>
<hr class="bar-thin">
<br>
<br>

<h2>Tubes</h2>
<hr class="bar-thin">
<br>

<div class="row">
    <div class="col-6">
        <h3>Round Tubes:</h3>
    </div>
    <div class="col-6">
        <a href="{% url 'add_round_tube' %}" class="add-links">
            <span>Add Round Tube</span>
            <i class="fas fa-plus-circle fa-lg"></i>
        </a>
    </div>
    <br>
    <br>
</div>
{% for t in tubes %}
<div class="row stock-line">
    <div class="col-4">
        <p class="stock-line-item">Name: {{ t.name }}</p>
    </div>
    <div class="col-4">
        <p class="stock-line-item">Stock: {{ t.stock }}</p>
    </div>
    <div class="col-4">
        <div class="stock-line-buttons">
            <a href="{% url 'edit_round_tube' t.id %}" class="add-links">
                <span>Edit Stock</span>
                <i class="far fa-edit"></i>
            </a>
            <br>
            <form class="" method="post" action="{% url 'delete_round_tube' t.id %}">
                {% csrf_token %}
                <button class="btn delete-btn" type="submit"><i class="fas fa-dumpster-fire"></i></button>
            </form>
        </div>
    </div>
</div>
<br>
{% endfor %}

<br>
<hr class="bar-thin">
<br>

<div class="row">
    <div class="col-6">
        <h3>Vtips:</h3>
    </div>
    <div class="col-6">
        <a href="{% url 'add_vtip' %}" class="add-links">
            <span>Add Vtip</span>
            <i class="fas fa-plus-circle fa-lg"></i>
        </a>
    </div>
    <br>
    <br>
</div>
{% for v in vtips %}
<div class="row stock-line">
    <div class="col-4">
        <p class="stock-line-item">Name: {{ v.name }}</p>
    </div>
    <div class="col-4">
        <p class="stock-line-item">Stock: {{ v.stock }}</p>
    </div>
    <div class="col-4">
        <div class="stock-line-buttons">
            <a href="{% url 'edit_vtip' v.id %}" class="add-links">
                <span>Edit Stock</span>
                <i class="far fa-edit"></i>
            </a>
            <br>
            <form class="" method="post" action="{% url 'delete_vtip' v.id %}">
                {% csrf_token %}
                <button class="btn delete-btn" type="submit"><i class="fas fa-dumpster-fire"></i></button>
            </form>
        </div>
    </div>
</div>
<br>
{% endfor %}

<br>
<hr class="bar-thin">
<br>


<div class="row">
    <div class="col-6">
        <h3>Flats:</h3>
    </div>
    <div class="col-6">
        <a href="{% url 'add_flat' %}" class="add-links">
            <span>Add Flat</span>
            <i class="fas fa-plus-circle fa-lg"></i>
        </a>
    </div>
    <br>
    <br>
</div>
{% for f in flats %}
<div class="row stock-line">
    <div class="col-4">
        <p class="stock-line-item">Name: {{ f.name }}</p>
    </div>
    <div class="col-4">
        <p class="stock-line-item">Stock: {{ f.stock }}</p>
    </div>
    <div class="col-4">
        <div class="stock-line-buttons">
            <a href="{% url 'edit_flat' f.id %}" class="add-links">
                <span>Edit Stock</span>
                <i class="far fa-edit"></i>
            </a>
            <br>
            <form class="" method="post" action="{% url 'delete_flat' f.id %}">
                {% csrf_token %}
                <button class="btn delete-btn" type="submit"><i class="fas fa-dumpster-fire"></i></button>
            </form>
        </div>
    </div>
</div>
<br>
{% endfor %}

<br>
<hr class="bar-thin">
<br>

{% endblock %}