{% extends 'base.html' %} {% load static %} {% block page_title %} QTSC - Report {% endblock %}

{% block content %}


<div class="row text-center">
    <div class="col-12">
        <h3>Report Created On: {{ report.date }}</br>
            <br>
            Report Number: {{ report.id }}</h3>
    </div>
</div>



<a href="{% url 'get_all_stock' %}" role="button" class="btn btn-warning" id="back" aria-disabled="false">Back To Stock</a> 
<br>
<br>

{% for r in reports %}

<div class="row stock-line">
    <div class="col-6">
        <p class="stock-line-item">Name: {{ r.name }}</p>
    </div>
    <div class="col-6">
        <p class="stock-line-item">Stock: {{ r.stock }}</p>
    </div>
</div>

<br>

{% endfor %}

{% endblock %}