{% extends 'base.html' %} {% load static %} {% block page_title %} QTSC - Report {% endblock %} {% block content %}


<div class="row text-center">
    <div class="col-12">
        <h3 class="mb-1">Report Created On: {{ this_report.date }}</h3>
        <h4>Report Number: {{ this_report.id }}</h4>
        <p>Completed By: {{ this_report.done_by }}</p>
    </div>
</div>

<div class="row text-center">
    <div class="col-12">
        {% for r in all_reports %}
        <span class="report-links"><a href="{% url 'check_report' r.id %}">{{ r.id }}</a></span> {% endfor %}
    </div>
</div>

<br>

<a href="{% url 'get_all_stock' %}" role="button" class="btn btn-warning" id="back" aria-disabled="false">Back To
    Stock</a>
<br>
<br> {% for r in reports %}

<div class="row stock-line">
    <div class="col-6">
        <p class="stock-line-item">Name: {{ r.name }}</p>
    </div>
    <div class="col-6">
        <p class="stock-line-item">Stock: {{ r.stock }}</p>
    </div>
</div>

<br> {% endfor %} {% endblock %}