{% extends 'base.html' %} {% load static %} {% block page_title %} QTSC - Stock {% endblock %} {% block content %}

<h1 class="text-center">Stock Report</h1>
<a href="{% url 'shop' %}" role="button" class="btn btn-warning" id="back" aria-disabled="false">Back To Shop</a>
<br>
<br>
<br>
<br>
<h2>Needles</h2>
<hr class="bar-thin">

<br>
<div class="row">
    <div class="col-4">
        <h3>Rounds:</h3>
        <ul>
            {% for r in rounds %}
            <li class="list-padding">
                {{ r.name }}: Stock = {{ r.stock }}
            </li>
            {% endfor %}
        </ul>
    </div>

    <br>
    <br>

    <div class="col-4">
        <h3>Shaders:</h3>
        <ul>
            {% for s in shaders %}
            <li class="list-padding">
                {{ s.name }}: Stock = {{ s.stock }}
            </li>

            {% endfor %}
        </ul>
    </div>
    <br>
    <br>


    <div class="col-4">
        <h3>Mags:</h3>
        <ul>
            {% for m in mags %}
            <li class="list-padding">
                {{ m.name }}: Stock = {{ m.stock }}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<br>

<h2>Tubes</h2>
<hr class="bar-thin">
<br>
<div class="row">
    <div class="col-4">
        <h3>Round Tubes:</h3>
        <ul>
            {% for t in tubes %}
            <li class="list-padding">
                {{ t.name }}: Stock = {{ t.stock }}
            </li>
            {% endfor %}
        </ul>
    </div>

    <br>
    <br>

    <div class="col-4">
        <h3>Vtips:</h3>
        <ul>
            {% for v in vtips %}
            <li class="list-padding">
                {{ v.name }}: Stock = {{ v.stock }}
            </li>
            {% endfor %}
        </ul>
    </div>
    <br>
    <br>

    <div class="col-4">
        <h3>Flats:</h3>
        <ul>
            {% for f in flats %}
            <li class="list-padding">
                {{ f.name }}: Stock = {{ f.stock }}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<br>

<div class="text-center">
    <a href="{% url 'save_stock_report' %}" role="button" class="btn btn-warning" id="all-stock" aria-disabled="false">Confirm and Save Stock</a>
</div>

<br>
<br>

<h2 class="text-center">Past Reports</h2>
<br>

<div class="row">
    <ul class="report-list">
        {% for r in reports %}
        <li class="list-padding">
            <h4>Report Number: <a href="{% url 'check_report' r.id %}">{{ r.id }} <span class="report-datetime"> {{ r.date|date:"d/m/y" }} {{ r.date|time }} </span></a> - Done By {{ r.done_by }}</h4>
        </li>
        {% endfor %}
    </ul>
</div>




{% endblock %}