{% extends 'base.html' %} {% block page_title %}{{ user }}'s Profile{% endblock %} {% block content %}

<div class="row">
    <div class="col-12">
        <h3 class="mb-3">Username: {{ user.profile }}</h3>
        {% if profile.artist_profile %}
        <a class="btn btn-success cart-add mb-2" href="{% url 'edit_artist' profile.artist_profile.id %}">Edit Artist
            Profile</a> {% else %}
        <a class="btn btn-success cart-add mb-2" href="{% url 'add_artist' %}">Add Artist Profile</a> {% endif %}
    </div>
</div>


<h3 class="mb-3">Reports Completed:</h3>
{% for r in reports %}
<p class="report-links"><a href="{% url 'check_report' r.id %}">{{ r.id }}</a> @ {{ r.date }}</p>
{% endfor %}
<div class="row">
    <div class="col-12 report-links">
        <a href="{% url 'password_reset' %}">Reset Password</a>
        <br>
    </div>
</div>{% endblock %}